\:root
    --echart-heat-color-1: #4361EE
    --echart-heat-color-2: #3A0CA3
    --echart-heat-color-3: #560BAD
    --echart-heat-color-4: #B5179E

html[data-theme='dark']:root
    --echart-heat-color-1: #00202D
    --echart-heat-color-2: #003246
    --echart-heat-color-3: #007C84
    --echart-heat-color-4: #A3FECC

    --echart-series-color-1: #00C5C9
    --echart-series-color-2: #F72585
    --echart-series-color-3: #FFD600
    --echart-series-color-4: #3A0CA3
