body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

h2 {
  font-size: 27px;
}
h3 {
  font-size: 22px;
}
p,
a {
  font-size: 15px;
  line-height: 20px;
}

.el-main {
  padding-top: 0 !important;
  padding-left: 45px !important;
}

.app-container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 5px;
}

.content-container {
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
}

.filter-container {
  padding-bottom: 10px;
  user-select: none;
}

.filter-item {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  padding-right: 20px;
}

.filter-item {
  .el-input__suffix {
    right: 30px !important;
  }
  .el-picker-panel__sidebar {
    width: 130px !important;
  }
  .el-picker-panel [slot="sidebar"] + .el-picker-panel__body,
  .el-picker-panel__sidebar + .el-picker-panel__body {
    margin-left: 130px !important;
  }
}

.filter-name {
  color: #909399;
  font-weight: bold;
  font-size: 14px;
  pointer-events: none;
}
.filter-item.el-input {
  width: 175px;
}
.pagination-container {
  width: 100%;
  text-align: center;
  margin-top: 23px;
}
