node_modules
dist
dist_dev
dist_dev_safari
dist_prod
dist_prod_safari
dist_analyze

Timer_Safari_DEV
Timer

firefox_dev

market_packages

*.crx
*.pem

script/icons
script/output/
script/icons_history

**/__pycache__

coverage

package-lock.json
