$width: 750px;
$height: 500px;
#app {
  width: $width;
  height: $height;
}

#chart-container{
  width: $width;
  height: $height;
}

.option-container {
  padding-bottom: 10px;
  width: 95%;
  margin: auto;
  height: 30px;
  #total-info{
    color: rgb(96, 98, 102); 
    font-size: 12px;
  }
}
.option-right {
  margin-left: 10px;
  float: right;
  height: 30px;
  line-height: 30px;
}
.option-left {
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  padding-top: 8px;
  float: left;
}

#type-select-popup{
  z-index: 2004;
  left: 599px;
  top: 380px;
  margin: 0px;
}