.backup-client-table
    margin-bottom: 20px
    .el-radio__label
        padding: 0
    .el-tag
        height: 20px
        margin-right: 0
        margin-left: 6px

.sop-dialog-container
    margin-right: 16px
.el-dialog
    text-align: center
.step-container
    width: 400px
    margin: auto
    .el-step__head
        .el-step__line
            margin-right: -50% !important
            left: 50% !important
    .el-step__title
        text-align: center

.operation-container
    margin: 40px 20px 0 20px

.backup-footer
    .el-button+.el-button
        margin-left: 0
