.report-list
    width: 100%
    display: grid
    gap: .6em
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr))
    .el-card__body
        padding: 15px
.scroll-info
    height: 20px
    width: 100%
    text-align: center
    color: var(--el-text-color-regular)
.report-item
    .report-item-head
        display: flex
        justify-content: space-between
        .report-item-title
            display: inline-flex
            align-items: center
            gap: 2px
            .el-checkbox
                height: 100%
        >button
            padding: 0
    .report-item-content
        display: flex
        gap: 5px
        flex-wrap: wrap
        justify-content: space-between
        .el-tag__content
            display: flex
            align-items: center
            gap: 2px
    .report-item-content:after
        content: ""
        flex: auto
