
.sop-dialog-container
    margin-right: 16px
.step-container
    width: 400px
    margin: auto
    .el-step__head
        .el-step__line
            margin-right: -50% !important
            left: 50% !important
    .el-step__title
        text-align: center

.operation-container
    margin: 40px 20px 0 20px

.import-other-form
    width: 400px
    margin: auto
    .select-import-file-name
        margin-left: 10px
        display: inline-flex
        flex: 1
        overflow: hidden
        text-overflow: ellipsis
    .el-form-item
        .el-select
            width: 100%
            .el-input__wrapper
                height: 30px
                .el-input__inner
                    user-select: none
            .el-select-dropdown__item
                height: 28px
                line-height: 28px
                font-size: 13px
        .el-icon
            font-size: 14px
            line-height: 32px
            height: 32px
            padding-left: 2px
        .el-button
            height: 32px !important
            width: initial !important
.action-container
    margin-top: 20px
    text-align: center
    line-height: 32px
    .el-form
        display: flex
        justify-content: center
        margin-bottom: -5px
        .el-form-item
            .el-form-item__content
                margin-left: 16px
            .el-icon
                height: inherit
                margin-left: 3px
            .el-radio
                margin-right: 16px
.sop-footer
    display: block
    width: 100%
    margin: auto
    margin-top: 40px
    .el-button
        width: initial !important
        height: initial !important
    .el-button:not(:last-child)
        margin-right: 10px
