.limit-detail
    .header
        display: flex
        align-items: center
        padding-left: 5px
        margin-bottom: 25px
        .el-breadcrumb
            flex: 1
        .button-container
            width: fit-content
    .content
        display: flex
        flex-direction: column
        gap: 25px
.limit-url-input
    display: flex
    gap: 6px
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: -6px
    > *
        margin-bottom: 6px
    .el-tag
        height: 32px
    .el-button
        margin-right: auto
.limit-url-edit
    .url-part
        display: flex
        width: 100%
        flex-wrap: wrap
        gap: 4px
        align-items: center
        justify-content: space-between
        margin-bottom: -6px
        .el-select
            width: 120px
            height: 32px
            .el-select__wrapper
                height: 100%
        .el-tag
            height: 32px
            &:last-of-type
                margin-right: auto
            .el-tag__content
                display: flex
                align-items: center
            .el-switch
                margin-right: 5px
        > *
            margin-bottom: 6px
    .el-alert
        margin-top: 10px
